{
    "presets" : [
        ["env", {
            "target" :{
                "browsers": [
                    "Last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}